* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: $white;
}
html {
  background-color: $dark;
  height: 100dvh;
}
body, #__nuxt{
    height: 100%;
}
#__nuxt{
    display: flex;
    flex-direction: column;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.page-container{
    padding: 0 var(--padding-page);
}
.clear{
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  display: flex;
  width: fit-content;
  height: fit-content;
}
.pointer{
  cursor: pointer;
}
button.primary, a.btn-primary {
  @include text-normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  gap: 12px;
  border-radius: 32px;
  background-color: $green-light;
  color: $white;
  cursor: pointer;
  &:hover {
    background-color: $green-middle;
  }
  &:active {
    background-color: $green-dark;
  }
  &:disabled {
    background-color: $gray;
    cursor: no-drop;
  }

  &.circle{
    aspect-ratio: 1;
    width:56px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}


input.primary,
textarea.primary {
  @include text-small;
  border-radius: 36px;
  padding: 22.5px 28px;
  color: $dark;
  resize: none;
  &:placeholder {
    color: $gray;
  }
  &:focus {
    outline: 2px solid $green-light;
  }
}

a.primary {
  @include text-small;

  &:hover {
    color: $white;
  }
  color: $green-light;
  font-weight: 700;
  text-decoration: none;
}

button.primary, textarea.primary, a.primary{
    transition: color 0.2s ;
}
