@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
$dark: #0a1f38;
$dark-middle: #1b2f46;
$dark-light: #2f4056;
$gray: #9da5af;
$green-dark: #819400;
$green-middle: #97ab0d;
$green: #a5bb0c;
$green-light: #b1c909;
$white: #ffffff;

:root {
  --padding-page: max(calc((100% - 1600px) / 2), 80px);
}

$desktop-large: 1920px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 360px;

.color-dark {
  color: $dark;
}
.color-dark-middle {
  color: $dark-middle;
}
.color-dark-light {
  color: $dark-light;
}
.color-gray {
  color: $gray;
}
.color-green-dark {
  color: $green-dark;
}
.color-green-middle {
  color: $green-middle;
}
.color-green {
  color: $green;
}
.color-green-light {
  color: $green-light;
}
.color-white {
  color: $white;
}

@mixin h1 {
  font-family: Montserrat;
  font-size: 104px;
  font-weight: 900;
  line-height: 100%;
}
@mixin h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
}
@mixin h3 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
@mixin h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
@mixin text-normal {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}
@mixin text-small {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.h1 {
  font-family: Montserrat;
  font-size: 104px;
  font-weight: 900;
  line-height: 100%;
}
.h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
}
.h3 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
.h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
.text-normal {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}
.text-small {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.text-bold {
  font-weight: 700;
}

@media (max-width: 768px) {
  :root{
    --padding-page:40px;
  }
}
@media (max-width: 580px) {
  :root{
    --padding-page:20px;
  }
  .h1 {
    font-size: 60px;
  }
  .h2 {
    font-size: 32px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .text-normal {
    font-size: 16px;
  }
  .text-small {
    font-size: 14px;
  }
}
